body{

 
}
.newcontent{
    margin: auto;
    width: 100%;
}

.btn btn-success{
    float: right;
}

.card-header{
    float: left;
}

.card-body img{
    width: 100%;
    
}
.card-body {

     padding:0;
}
.btnNav {
    float: right;
}
.card-noucamp{
    width: 60%;
     margin: auto;
}